/* static/styles_welcome.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, white);
    /* Adjust the background gradient colors as needed */
}

.container {
    text-align: center; /* Center-align text within the container */
    padding: 100px;
    color: white; /* Change text color */
    font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the desired font */
}

h1 {
    font-size: 50px; /* Increase font size */
    color: black; /* Change title color */
    margin-bottom: 20px; /* Add space between title and paragraph */
}

p {
    font-size: 24px; /* Increase font size */
    color: black; /* Change paragraph color */
    margin-bottom: 30px; /* Add space between paragraphs and button */
}

button {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Your Chosen Font', sans-serif;
    background-color: #2ecc71; /* Use a nice-looking color for the button */
    padding: 10px 20px; /* Add padding to the button for a nicer appearance */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add button border radius for a rounded appearance */
    cursor: pointer; /* Add cursor pointer on hover */
}

button:hover {
    background-color: #27ae60; /* Change button color on hover */
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 0px;
    color: black; /* Change footer text color */
}
